.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.content {
  margin-left: auto; margin-right: auto;
  border-style: solid;
  border-color: lightgray;
  padding-bottom: 15px;
}

textarea {
  width: 100%;
}

.footer1 {
  background-color: #4a4f55;
  color: white;
  padding-top: 10px;
}

.footer2 {
  background-color: #2a2a2a;
  color: gray;
}

input[type=text] {
  background-color: #e6e6e6;
}

textarea {
  background-color: #e6e6e6;
}

.social-media-icons ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-media-icons a {
	display: inline-block;
	text-decoration: none;
	padding: 7px;
}

.social-media-icons a:nth-child(1) i {
	color: red;
}

.social-media-icons a:nth-child(2) i {
	color: #baa88d;
}

.social-media-icons a:nth-child(3) i {
	color: #baa88d;
}

.social-media-icons a:nth-child(4) i {
	color: #baa88d;
}

.social-media-icons a i:hover{
	color: black;
}
